<div class="container">
    <div class="row">
      <div class="col">
        <div class="button" id=0 ng-click="getId(0)">*</div>
      </div>
      <div class="col">
        <div class="button" id=1 ng-click="getId(1)">*</div>
      </div>
      <div class="col">
        <div class="button" id=2 ng-click="getId(2)">*</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="button" id=3 ng-click="getId(3)">*</div>
      </div>
      <div class="col">
        <div class="button" id=4 ng-click="getId(4)">*</div>
      </div>
      <div class="col">
        <div class="button" id=5 ng-click="getId(5)">*</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="button" id=6 ng-click="getId(6)">*</div>
      </div>
      <div class="col">
        <div class="button" id=7 ng-click="getId(7)">*</div>
      </div>
      <div class="col">
        <div class="button" id=8 ng-click="getId(8)">*</div>
      </div>
    </div>
</div>
